<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>Company</span></th>
							<!-- <th><span>Posted</span></th> -->
							<th class="text-center"><span>Deadline</span></th>
							<th><span>Job Title</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let notice of notices">
							<td>
								<a href="#" class="user-link">{{notice.company}}</a>
							</td>
							<!-- <td>
								2013/08/08
							</td> -->
                            <td >
								{{notice.deadline}}
							</td>
                            <td>
								{{notice.title}}
							</td>
							
						
						</tr>
						
						<!--  -->
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
</div>
</div>
