<div class="myCommonLogin"></div>


<div class="main-container">
    
    <div class="cards">
      <div class="card card-1">
        <!-- <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p> -->
        <h2 class="card__title"> Admin Login Page.</h2>
        <p class="card__apply">
          <a class="card__link"routerLink="/adminlogin">Click Here </a>
        </p>
      </div>
      <div class="card card-2">
        <!-- <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p> -->
        <h2 class="card__title">HoD Login Page.</h2>
        <p class="card__apply">
          <a class="card__link" routerLink="/hodlogin">Click Here </a>
        </p>
      </div>
      <div class="card card-3">
        <!-- <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p> -->
        <h2 class="card__title">PR-Faculty Login Page.</h2>
        <p class="card__apply">
          <a class="card__link" routerLink="/prfaclogin">Click Here </a>
        </p>
      </div>
      <div class="card card-4">
        <!-- <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p> -->
        <h2 class="card__title">PR-Student Login Page.</h2>
        <p class="card__apply">
          <a class="card__link" routerLink="/prstudlogin">Click Here </a>
        </p>
      </div>
      <div class="card card-5">
        <!-- <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p> -->
        <h2 class="card__title">Student Login Page.</h2>
        <p class="card__apply">
          <a class="card__link" routerLink="/studlogin"> Click Here </a>
        </p>
      </div>
      
      
    </div>
  </div>