<div class="wrapper">
    <div class="logo"> <img src="./assets/img/logo.png" alt=""> </div>
    <div class="text-center mt-4 name"> SJCET </div>


    <form class="p-3 mt-3" #userLogin="ngForm" (ngSubmit)="userFunction()" >

        <!-- (ngSubmit)="userFunction()" -->
        <div class="form-field d-flex align-items-center form-group"> 
           <input class="form-control" type="text" name="username" id="userName" placeholder="Username" [(ngModel)]="User.username" required> 
           <label for="userName"  id="error1"></label>
        </div>
        
        <div class="form-field d-flex align-items-center form-group"> 
           <input class="form-control" type="password" name="password" id="pwd" placeholder="Password" [(ngModel)]="User.password" required> 
           <label for="password"  id="error2"></label>
        </div> 
           
           <button class="btn mt-3"  style="background-color: #425664;"  >Login</button>
    </form>
</div>


<!-- [diasabled]="userLogin.form.invalid" -->
