<br>

<div >
  <a routerLink="/" ><button style="float: right;" type="button" class="btn btn-secondary">LOGOUT</button></a>
</div>

<br>
<br>


   
    <div class="row1-container">
        <div class="box box-down cyan">
          <h2>Mark Attendance</h2>
          <a routerLink="/markattendance" class="link">Mark</a>
          <img src="./assets/img/notice.png" style="height: 20%; width: 20%;" alt="">
        </div>
    
        <div class="box red">
          <h2>View Notices</h2>
          <a routerLink="/prstudnotice" class="link">View</a>
          <img src="./assets/img/notice.png" style="height: 20%; width: 20%;" alt="">
        </div>
    
        <div class="box box-down blue">
          <h2>View Placement Status</h2>
          <a routerLink="/viewstatus" class="link">View</a>
          <img src="https://assets.codepen.io/2301174/icon-calculator.svg" style="height: 50%; width: 50%;" alt="">
        </div>
      </div>
      <div class="row2-container">
        <div class="box orange">
          <h2>View Applied Status</h2>
          <a routerLink="/viewstatus" class="link">View</a>
          <img src="https://assets.codepen.io/2301174/icon-calculator.svg" style="height: 50%; width: 50%;" alt="">
        </div>
      </div>
     
    
  