<div class="footr">
    <hr>
    <br>
    


    
    <div style="text-align: center; color: #425664;">
    <a href="https://in.linkedin.com/in/sjcetpalai"  target="_blank">LinkedIn</a> |

    <a href="https://www.facebook.com/SJCETPALA" target="_blank">Facebook</a> |
    
    <a href="https://www.instagram.com/sjcetpalai/"  target="_blank">Instagram</a>
    
    <br>
    <br>
    2022 Copyright: PMS - SJCET
    
    <br>
    </div>
    <br>
<!-- 

    <div class="row">
        <div class="column"> asdfghjkl;</div>
        <div class="column">ssrdtfyguihjkhgnb</div>
        <div class="column">szdfghjklkbv</div>
      </div> -->
</div>