.footr{
    background-color:whitesmoke  ;
}

a:link {
    color:#425664;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #425664;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #425664;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: #425664;
    background-color: transparent;
    text-decoration: underline;
  }


  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }