<div id="masthead">  
  <!-- /cont -->
<div class="container container-body">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          <div class="brand-title">View Placement Status</div>
          <!--/stories-->
          <div  class="inputs">
   
              <form enctype="multipart/form-data" 
              
              ngForm
              #f="ngForm"
               >
                <br>
                <div class="form-group">
                    <!-- <input type="text" class="form-control" name="company"  placeholder="Company name"  > -->
                    <label  id="error1"></label>

                    <select 
                    ngModel
                    
                    name="branch" 
                    id="branch" 
                    placeholder="branch" 
                    class="input-control"
                    required
                    > 
                      <option placeholder="Branch" value="">--Branch--</option>
                      <option>Artificial Intelligence & Data Science</option>
                      <option>Civil Engineering</option>
                      <option>Computer Science & Engineering</option>
                      <option>Electronics and Communication Engineering</option>
                      <option>Electronics and Instrumentation Engineering</option>
                      <option>Electrical and Electronics Engineering</option>
                      <option>Mechanical Engineering</option>
                      <option>Master of Computer Application</option>
                    </select>
                </div>

                <div class="form-group">
                  <!-- <input type="text" class="form-control" name="company"  placeholder="Company name"  > -->
                  <label  id="error2"></label>

                  <select 
                    ngModel
                    name="company" 
                    id="company" 
                    placeholder="company" 
                    class="input-control"
                    required
                    > 
                    <option placeholder="Company" value="">--Company--</option>
                    <!-- <option>--Company--</option> -->
                    <option>TCS</option>
                    <option>Infosys</option>
                    <option>Wipro</option>
                    <option>UST</option>
                    <option>Quest Global</option>
                    <option>Othrs</option>
                  </select>
              </div>

              <div class="form-group">
                <!-- <input type="text" class="form-control" name="company"  placeholder="Company name"  > -->
                <label  id="error3"></label>

                <select 
                    ngModel
                    name="year" 
                    id="year" 
                    placeholder="year" 
                    class="input-control"
                    required
                    > 
                  <option placeholder="year" value="">--Year of Passing--</option>
                  <option>2022</option>
                  <option>2021</option>
                  <option>2020</option>
                  <option>2019</option>
                  <option>2018</option>
                  <option>2017</option>
                </select>
            </div>
                
                
                


              
               <!-- <div class="form-group">
                 
                  <input type="text"  class="form-control" name="ctc" placeholder="CTC" >
                  <label  id="error4"></label>
                  
                 </div> -->
                
                <label id="check"></label>
                <h1></h1>
                <button type="submit" [disabled]="!f.valid" class="btn btn-block" value="submit">SEARCH</button>
                
      
                
              </form>
              <hr>
      
              
      
        </div>  
         
          <!--/stories-->
          
        </div>
      </div>
                                                    
       </div><!--/col-12-->
  </div>
</div>


<!-- next -->









