<form action="/action_page.php">
  <input type="search" id="gsearch" [(ngModel)]="searchText" class="search" name="gsearch" placeholder="Search">
 
  <!-- <a href="" class="btn fa fa-search" style="font-size:x-large;"></a> -->
</form>

  
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <div class="table-responsive">
                <table class="table user-list">
                    <thead>
                        <tr>
                            <th><span>Admission No</span></th>
                            <th><span>Name</span></th>
                            <th class="text-center"><span>Phone No</span></th>
                            <th><span>Mail Id</span></th>
                            <th><span>Company </span></th>
                            <th><span>Job Title </span></th>



                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let status of Status | filter:searchText">
                            <td>
                               {{status.admNo}}
                            </td>
                            <td>
                                {{status.studName}}
                            </td>
                            <td >
                                {{status.phone}}
                            </td>
                            <td>
                              {{status.mail}}

                            </td>
                                
                            <td>{{status.company}} </td>
                            <td>{{status.title}} </td>
                            
                            <td>
                                <!-- <a href="/noticeupdate" class="table-link">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>  -->
                            <!-- <button class="btn btn-warning fa fa-inverse fa-pencil" (click)="editStatus(status)" ></button> -->
                          </td>
                            
                        </tr>
                        

                       
                        <!--  -->
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
</div>
