<div id="masthead">  
    <!-- /cont -->
  <div class="container container-body">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            <div class="brand-title">Apply for Duty Leave</div>
            <!--/stories-->
            <div  class="inputs">
     
                <form enctype="multipart/form-data"
                ngForm
                #f="ngForm"
                  >
                  <br>
                  
                  <div class="form-group">
                    <input type="text" class="form-control" name="AdmissionNumber"  placeholder=" Admission Number" ngModel required >
                    <label  id="error1"></label>

                    
                </div>

                <div class="form-group">
                    <!-- <input type="text" class="form-control" name="company"  placeholder="Company name"  > -->
                    <input type="date" class="form-control" id="date" name="date" ngModel required>
                    <label  id="error2"></label>

                    
                </div>
                 
                <div class="form-group">
                  <label  id="error3">Start Time</label>
                  <input type="time" class="form-control" name="Starttime"  placeholder="Time" ngModel required >
                  

                  
              </div>


              
                 
              <div class="form-group">
                <label  id="error4">End Time</label>
                <input type="time" class="form-control" name="Endtime"  placeholder="Time"  ngModel required>
                

                
            </div>

                

                <div class="form-group">
                  <!-- <input type="text" class="form-control" name="company"  placeholder="Company name"  > -->
                  <label  id="error5"></label>

                  <select 
                        ngModel
                        name="company" 
                        id="company" 
                        placeholder="company" 
                        class="form-control"
                        required
                  > 
                    <option placeholder="Company" value="">--Company--</option>
                    <!-- <option>--Company--</option> -->
                    <option>TCS</option>
                    <option>Infosys</option>
                    <option>Wipro</option>
                    <option>UST</option>
                    <option>Quest Global</option>
                    <option>Othrs</option>
                  </select>
              </div>


                  <div class="form-group">
                      <!-- <input type="text" class="form-control" name="company"  placeholder="Company name"  > -->
                      <label  id="error6"></label>


                      <select 
                      ngModel
                      name="branch" 
                      id="branch" 
                      placeholder="branch" 
                      class="input-control"
                      required
                > 
                        <option placeholder="Branch" value="">--Branch--</option>
                        <option>Artificial Intelligence & Data Science</option>
                        <option>Civil Engineering</option>
                        <option>Computer Science & Engineering</option>
                        <option>Electronics and Communication Engineering</option>
                        <option>Electronics and Instrumentation Engineering</option>
                        <option>Electrical and Electronics Engineering</option>
                        <option>Mechanical Engineering</option>
                        <option>Master of Computer Application</option>
                      </select>
                  </div>

                  <div class="form-group">
                    <!-- <input type="text" class="form-control" name="company"  placeholder="Company name"  > -->
                    <label  id="error7"></label>
  
                    <select 
                    ngModel
                    name="section" 
                    id="section" 
                    placeholder="section" 
                    class="input-control"
                    required
              > 
                      <option placeholder="Year" value="">--Section--</option>
                      <option>A</option>
                      <option>B</option>
                      
                      
                    </select>
                </div>

                  <div class="form-group">
                    <!-- <input type="text" class="form-control" name="company"  placeholder="Company name"  > -->
                    <label  id="error8"></label>
  

                    <select 
                    ngModel
                    name="year" 
                    id="year" 
                    placeholder="year" 
                    class="input-control"
                    required
              > 
                      <option placeholder="Year" value="">--Year Of Study--</option>
                      <option>4th</option>
                      <option>3rd</option>
                      <option>2nd</option>
                      <option>1st</option>
                      
                    </select>
                </div>


                  
                  
  
  
                
                 <!-- <div class="form-group">
                   
                    <input type="text"  class="form-control" name="ctc" placeholder="CTC" >
                    <label  id="error4"></label>
                    
                   </div> -->
                  
                  <label id="check"></label>
                  <h1></h1>
                  <button type="submit" [disabled]="!f.valid" class="btn btn-block" value="submit">APPLY</button>
                  
        
                  
                </form>
                <hr>
        
                
        
          </div>  
           
            <!--/stories-->
            
          </div>
        </div>
                                                      
         </div><!--/col-12-->
    </div>
  </div>


  <!-- next -->