<div id="masthead">  
    <!-- /cont -->
    
    
  
  
  <div class="container container-body">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            <div class="brand-title">Update Notice</div>
            <!--/stories-->
            <div  class="inputs">
              <!-- enctype="multipart/form-data" 
              ngForm
              #f="ngForm" -->
     
              <form  (ngSubmit)="upnotice()"
              ngForm
              #f="ngForm" 
              >


                  <br>
                  <div class="form-group">
                      <input type="text" class="form-control" name="company" [(ngModel)]="noticeUpdated.company"     required>
                      <label  id="error1"></label>
                  </div>
                  
                  
                  <div class="form-group">
                     <input type="text"  class="form-control" name="title" [(ngModel)]="noticeUpdated.title"    required>
                     <label  id="error4"></label>
                     
                  </div>
                  
  
                 <div class="form-group">
                  <input type="text"  class="form-control" name="disc" [(ngModel)]="noticeUpdated.disc"  style="padding-right: 10%; padding-bottom: 10%;padding-top: 1.5%;"  required>
                  <label  id="error4"></label>
                  
               </div>
               <div class="form-group">
                 <label for="eligibility" col-xs-3 col-sm-2 control-label>Eligibility*</label>
                <input type="text" style="width: 20%; float: left; margin: 10px;"  class="form-control" [(ngModel)]="noticeUpdated.xth" name="xth"   required  pattern="^\d+(\.\d+)*$" >
                <input type="text" style="width: 20%; float: left; margin: 10px;"  class="form-control" name="xiith" [(ngModel)]="noticeUpdated.xiith"   required  pattern="^\d+(\.\d+)*$"  >
                <input type="text" style="width: 25%; float: left; margin: 10px;"  class="form-control" name="gpa" [(ngModel)]="noticeUpdated.gpa"  required  pattern="^\d+(\.\d+)*$"  >

                <input type="text" style="width: 25%; float: left; margin: 10px;"  class="form-control" name="qual" [(ngModel)]="noticeUpdated.qual"  required >


                <label  id="error4"></label>
                
             </div>
  
                 <div class="form-group">
                   
                  <input type="date"  class="form-control" name="deadline"  [(ngModel)]="noticeUpdated.deadline"  required >
                  <label  id="error4"></label>
                  
                 </div>
                 <div class="form-group">
                   
                    <input type="text"  class="form-control" name="ctc" [(ngModel)]="noticeUpdated.ctc"  required pattern="^\d+(\.\d+)*$">
                    <label  id="error4"></label>
                    
                   </div>
                   <div class="form-group">
                   
                    <input type="text"  class="form-control" name="link" [(ngModel)]="noticeUpdated.link"  required>
                    <label  id="error4"></label>
                    
                   </div>
                  
                  <label id="check"></label>
                  <h1></h1>


                  <button type="submit"  [disabled]="!f.valid" class="btn btn-block" value="submit"    >UPDATE</button>
                  
        
                  
                  </form>
                <hr>
        
                
        
          </div>  
            
            
                    
            
  
            
            
            
            <!--/stories-->
            
            
            
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>


  <!-- next -->

  

