<div id="masthead">  
    <!-- /cont -->
    
    
  
  
  <div class="container container-body">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            <div class="brand-title">Update Notice</div>
            <!--/stories-->
            <div  class="inputs">
     
                <form enctype="multipart/form-data" >
                  <br>
                  <div class="form-group">
                      <input type="text" class="form-control" name="company"  placeholder="Company name"  >
                      <label  id="error1"></label>
                  </div>
                  
                  
                  <div class="form-group">
                     <input type="text"  class="form-control" name="title" placeholder="Job title" >
                     <label  id="error4"></label>
                     
                  </div>
                  
  
                 <div class="form-group">
                  <input type="text"  class="form-control" name="about" placeholder="Job description"  style="padding-right: 10%; padding-bottom: 10%;padding-top: 1.5%;">
                  <label  id="error4"></label>
                  
               </div>
               <div class="form-group">
                 <label for="eligibility" col-xs-3 col-sm-2 control-label>Eligibility*</label>
                <input type="number" style="width: 10%; float: left; margin: 10px;"  class="form-control" name="eligibility" placeholder="Xth" >
                <input type="number" style="width: 10%; float: left; margin: 10px;"  class="form-control" name="eligibility" placeholder="XIIth" >
                <input type="number" style="width: 12%; float: left; margin: 10px;"  class="form-control" name="eligibility" placeholder="Current GPA" >

                <input type="text" style="width: 12%; float: left; margin: 10px;"  class="form-control" name="eligibility" placeholder="Qualification" >


                <label  id="error4"></label>
                
             </div>
  
                 <div class="form-group">
                   
                  <input type="text"  class="form-control" name="deadline" placeholder="Deadline" >
                  <label  id="error4"></label>
                  
                 </div>
                 <div class="form-group">
                   
                    <input type="text"  class="form-control" name="ctc" placeholder="CTC" >
                    <label  id="error4"></label>
                    
                   </div>
                   <div class="form-group">
                   
                    <input type="text"  class="form-control" name="link"  placeholder="Reg Link" >
                    <label  id="error4"></label>
                    
                   </div>
                  
                  <label id="check"></label>
                  <h1></h1>
                  <button type="submit" class="btn btn-block" (click)="updatenotice()" value="submit">UPDATE</button>
                  
        
                  
                </form>
                <hr>
        
                
        
          </div>  
            
            
                    
            
  
            
            
            
            <!--/stories-->
            
            
            
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>


  <!-- next -->

  

