<div class="bn">
    <a href="/adminnotice" class="bn3637 bn38" >Notices <i class="fa fa-envelope"></i></a>

    <!-- <div class="logOutt">
      <a routerLink="/login" class="link">
      <button type="button btn" class="btn btn-secondary">LOG OUT</button></a>
    </div>
    
  </div> -->
  <hr>

  <div >
    <a routerLink="/" ><button (click)="TestHere()" style="float: right;" type="button" class="btn btn-secondary">LOGOUT</button></a>
  </div>
  
<br>
<br>


    
  
   
    <div class="row1-container">
      <div class="box box-down cyan">
        <h2>Add New Notice</h2>
        <a routerLink="/addnotice" class="link">Add</a>
        <img src="./assets/img/add-notice.png" style="height: 50%; width: 50%;" alt="">
      </div>
  



      <div class="box red">
        <h2>Update Placement Status</h2>
        <a routerLink="/updatestatus" class="link">Update</a>
        <img src="./assets/img/pencil.png" style="height: 50%; width: 50%;" alt="">
      </div>
  
      <div class="box box-down blue">
        <h2>View Placement Status</h2>
        <a routerLink="/viewstatus" class="link">View</a>
        <img src="https://assets.codepen.io/2301174/icon-calculator.svg" style="height: 50%; width: 50%;" alt="">
      </div>
    </div>
    <div class="row2-container">
      <div class="box orange">
        <h2>View Transportation Applied List</h2>
        <a routerLink="/viewtransport" class="link">View</a>
        <img src="https://assets.codepen.io/2301174/icon-calculator.svg" style="height: 50%; width: 50%;" alt="">
      </div>
    </div>

  