<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/logo.png" width="65" height="65" style="border-radius: 50%;"  alt="" loading="lazy">
      SJCET
    </a>
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        
        <nav class="nav">
          
          <ul class="nav__wrapper">
            <li class="nav__item"><a routerLink="/">Home</a></li>
  
            <li class="nav__item"><a routerLink="/login">Login</a></li>
            <li class="nav__item"><a routerLink="/admin">Admin</a></li>
            <li class="nav__item"><a routerLink="/student">Student</a></li>
            <li class="nav__item"><a routerLink="/hod">HOD</a></li>
            <li class="nav__item"><a routerLink="/prstudent">PR STUD</a></li>
            <li class="nav__item"><a routerLink="/prfaculty">PR FACT</a></li>
  
          </ul>
        </nav>
      </div>
    </header>
  </nav> -->
  
  <!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;"> -->
  <nav class="navbar navbar-expand-lg navbar-light "  style="background-color: whitesmoke;">
     <a class="navbar-brand" href="#">
      <img src="./assets/img/logo.png" width="65" height="65" style="border-radius: 50%;"  alt="" loading="lazy">
      SJCET
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




    <!-- HOME -->
    <!-- this.router.url
    *ngIf="routerLink==/" -->


    <div   class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ml-auto">
      
        

        <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>    {{xyz}}
        </li> -->

      </ul>
    </div>


   <!-- LOGIN -->
    <!-- <div  *ngIf="" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ml-auto">
      
        

       

      </ul>
    </div> -->




   <!-- OTHERS -->
    <!-- <div  *ngIf=""  class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ml-auto">
      
        

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Log Out</a>
        </li>

        

      </ul>
    </div> -->
















  </nav>