<div class="myDIV">
  <div class="container">
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>01</h2>
      
          <h3>Update Revaluation Status</h3>
          <p>Click here to update your revaluation status .</p>
          <a routerLink="/revaluation" class="link">Update</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>02</h2>
          <h3>Update Offer Letter Receival Status</h3>
          <p>Click here to update your Offer Letter receival status .</p>
          <a routerLink="/offerletter" class="link">Update</a>
        </div>
      </div>
    </div>
  
  </div>

</div>

